@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

    body {
    
    background-color: black;
}

.showcase header {
    text-align: center;
    color: white;
    font-family: 'Bungee Inline', cursive;
}


/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    mix-blend-mode: overlay;
} */



#musicnote {
    width: 150px;
    filter: invert(1);
}

#gamecontroller {
    width: 170px;
    filter: invert(1);
}

#camera {
    width: 190px;
    filter: invert(1);
}

#github {
    width: 180px;

}

 #instagram {
     width: 180px;
 }

 #twitter {
     width: 180px;
 }

.icons {
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: 100px;
}

 .socials {
     display: flex;
     justify-content: center;
     margin-bottom: 200px;
     z-index: 100;
 }

/* .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
} */
@media screen and (max-width: 800px) {
    body {
    background-color: black;
    color: white;
    display: inline-flex;
    
    }
    #musicnote {
        width: 80px;
        filter: invert(1);
    }
    
    #gamecontroller {
        width: 95px;
        filter: invert(1);
    }
    
    #camera {
        width: 95px;
        filter: invert(1);
    }

    #github {
        width: 140px;
    
    }
    
     #instagram {
         width: 140px;
     }
    
     #twitter {
         width: 140px;
     }
     .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 80px;
    }
    
     .socials {
         display: flex;
         align-items: center;
         justify-content: center;
         margin-bottom: 200px;
         z-index: 100;
     }
    }

@media screen and (max-width: 550px) {
    body {
        background-color: black;
        color: white;
        display: inline-flex;
        
        }
        #musicnote {
            width: 65px;
            filter: invert(1);
        }
        
        #gamecontroller {
            width: 80px;
            filter: invert(1);
        }
        
        #camera {
            width: 80px;
            filter: invert(1);
        }
    
        #github {
            width: 130px;
        
        }
        
         #instagram {
             width: 130px;
         }
        
         #twitter {
             width: 130px;
         }
         .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            margin-top: 80px;
        }
        
         .socials {
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 200px;
             z-index: 100;
         }
}