body {
    /* background-image: url("./images/background.jpg"); */
    background-color: black;
    padding-top: 100px;
}

h1, h2, a {
    text-align: center;
}
#insta-icon {
    width: 100px;
    display:contents;
    margin-left: auto;
    margin-right: auto;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}