@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    background-image: url(./images/music-screen-background.jpg);
    background-size: cover ;
}


.showcase header {
    text-align: center;
    color: white;
    font-family: 'Bungee Inline', cursive;
}
h1 {
    color: white;
    font-size: xxx-large;

}

.piano {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}

.guitar {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;

}

/* .band {
    position: relative;
 
    color: rgb(147, 168, 192);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;

} */

@media screen and (max-width: 1200px) {
    body {
        background-image: url(./images/music-screen-background.jpg);
        background-size: cover ;
    }
    
    
    .showcase header {
        text-align: center;
        color: white;
        font-family: 'Bungee Inline', cursive;
    }
    h1 {
        color: white;
        font-size: xxx-large;
    
    }
    
    .piano {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    .guitar {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        float: left;
    }
}
