@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    background-image: url(./images/music-screen-background.jpg);
    background-size: cover ;
}


.showcase header {
    text-align: center;
    color: whitesmoke;
    font-family: 'Bungee Inline', cursive;
    filter: drop-shadow(-5px -5px 3px rgba(0, 0, 0, 0.3))
            drop-shadow( 10px 10px 10px rgba(0, 0, 0, 0.2))
            drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.2));
}
h1 {
    color: rgb(255, 255, 255);
    font-size: xxx-large;

}

.piano {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    filter: drop-shadow(-5px -5px 3px rgba(0, 0, 0, 0.3))
            drop-shadow( 10px 10px 10px rgba(0, 0, 0, 0.2))
            drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.2));
}

.guitar {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    filter: drop-shadow(-5px -5px 3px rgba(0, 0, 0, 0.3))
            drop-shadow( 10px 10px 10px rgba(0, 0, 0, 0.2))
            drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.2));

}

@media screen and (max-width: 1200px) {
    body {
        background-image: url(./images/music-screen-background.jpg);
        background-size: cover ;
    }
    
    
    .showcase header {
        text-align: center;
        color: white;
        font-family: 'Bungee Inline', cursive;
    }
    h1 {
        color: white;
        font-size: xxx-large;
    
    }
    
    .piano {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    .guitar {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        float: left;
    }
}
