@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    background-color:rgb(42, 39, 54);
}


.showcase header {
    text-align: center;
    color: rgb(147, 168, 192);
    font-family: 'Bungee Inline', cursive;
}
h1 {
    color: rgb(147, 168, 192);
    font-size: xxx-large;

}

.piano {
    color: rgb(147, 168, 192);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: cyan 5px;
    float: left;
}

.guitar {
    color: rgb(147, 168, 192);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: cyan 5px;
    float: right;

}

/* .band {
    position: relative;
 
    color: rgb(147, 168, 192);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;

} */

