body {
    background-color: rgb(64, 64, 182);
    justify-content: center;
    align-items: center;
}

.showcase header {
    color: aliceblue;
}

#gamecontroller {
    width: 100px;
    filter: invert(1);

}

.page {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

#spaceinvader {
    width: 100px;
    filter: invert(1);
}
.game-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}